extends layout.pug

block header
  h1.small Ochrona danych osobowych

block content
  .i-sheet.i-light
    .container
      .row
        .col.s12.m10.offset-m1
          p
            | Zgodnie z art. 13 i art. 14 Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (RODO) informujemy, iż Administratorem Państwa danych osobowych jest INVETTA Sp. z o.o. z siedziba w Warszawie, , ul. Anielewicza 33/106, 01-057 Warszawa, NIP   5272728391 (dalej "INVETTA").
          p
            | Państwa dane osobowe przetwarzane są:
            ul
              li
                | ze względu na realizację umowy, która wiąże Państwa z Administratorem, lub działania niezbędne do jej zawarcia (Art. 6 ust. 1 lit. b RODO),
              li
                | ze względu na wymagania prawne, do których przestrzegania zobligowany jest Administrator (Art. 6 ust. 1 lit. c RODO),
              li
                | na podstawie uzyskanej od Państwa zgody (Art. 6 ust. 1 lit. a RODO).
          p
            | Państwa dane mogą być również przetwarzane w celu:
            ul
              li
                | Realizacji procesu rekrutacji i zatrudnienia,
              li
                | Realizacji działań marketingowych drogą elektroniczną lub poprzez telekomunikacyjne urządzenia końcowe,
              li
                | Realizacji działań marketingowych pocztą tradycyjną.
          p
            | W powyższych przypadkach, dane będą przetwarzane odpowiednio przez okres:
            ul
              li
                | Dane będą usuwane w ciągu 5 lat od zakończenia procesu rekrutacji lub w przypadku zatrudnienia - 50 lat po ustaniu zatrudnienia,
              li
                | Do zakończenia obowiązywania umowy oraz 5 lat po tym okresie, ze względu na zabezpieczenie ewentualnych roszczeń,
              li
                | Do wycofania zgody,
              li
                | 10 lat,
              li
                | 3 lata.
          p
            | Państwa dane osobowe mogą być przekazywane podmiotom zewnętrznym, w ramach podpisanych z INVETTA umów powierzenia przetwarzania danych osobowych.
          p
            | Mają Państwo prawo do:
            ul
              li
                | dostępu do treści swoich danych osobowych, czyli prawo do uzyskania potwierdzenia czy Administrator przetwarza dane oraz informacji dotyczących takiego przetwarzania,
              li
                | sprostowania danych, jeżeli dane przetwarzane przez Administratora są nieprawidłowe lub niekompletne,
              li
                | żądania od Administratora usunięcia danych,
              li
                | żądania od Administratora ograniczenia przetwarzania danych,
              li
                | przenoszenia danych, czyli prawo do otrzymania dostarczonych Administratorowi danych osobowych oraz przesłania ich innemu administratorowi,
              li
                | wniesienia sprzeciwu wobec przetwarzania danych na podstawie uzasadnionego interesu Administratora lub wobec przetwarzania w celu marketingu bezpośredniego,
              li
                | wniesienia skargi do polskiego organu nadzorczego lub organu nadzorczego innego państwa członkowskiego Unii Europejskiej, właściwego ze względu na miejsce zwykłego pobytu lub pracy osoby, której dane dotyczą lub ze względu na miejsce domniemanego naruszenia,
              li
                | cofnięcia zgody na przetwarzanie danych osobowych.
          p
            | Jeżeli w Państwa opinii doszło do naruszenia ochrony Państwa danych osobowych mogą się Państwo zwrócić do Administratora.
